<div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let curso of cursosService.cursos" class="m-4">
        <div class="card carta" style="width: 18rem;">
            <img src={{curso.imagen}} class="card-img-top img" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{curso.nombre}}</h5>
                <p class="card-text">{{curso.descripcion}}</p>
                <a href="dashboard/{{curso._id}}" class="btn card-btn-color">Ir al curso</a>
            </div>
        </div>
    </div>
</div>