<app-navbar></app-navbar>

<div class="d-flex align-items-center h-100 marco1 my-5">
    <div class="container shadow-lg p-5 w-50">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control cuadros" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico">
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control cuadros" id="exampleInputPassword1" placeholder="Contraseña">
                <a href="recuperar">¿Olvido su contraseña?</a>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Verificar</label>
            </div>
            <a href="usuario" class="btn boton1">Iniciar sesión</a>
        </form>
    </div>
</div>

<app-foot></app-foot>