<app-navbar></app-navbar>

<div class="d-flex align-items-center h-100 marco1">
    <div class="container shadow-lg p-5 w-50">
        <form>

            <div class="form-group">
                <label for="Nombre" class="control-label">Nombre</label>
                <input type="text" class="form-control cuadros" id="Nombre" name="Nombre" placeholder="Nombre" required>
            </div>

            <div class="form-group">
                <label for="Apellido" class="control-label">Apellido</label>
                <input type="text" class="form-control cuadros" id="Apellido" name="Apellido" placeholder="Apellido" required>
            </div>

            <div class="form-group">
                <label for="email" class="control-label">Correo electrónico</label>
                <input type="email" class="form-control cuadros" id="email" name="correo electronico" placeholder="Correo electrónico" required>
            </div>

            <div class="form-group">
                <label for="contraseña" class="control-label">Contraseña</label>
                <input type="password" class="form-control cuadros" id="contraseña" name="Contraseña" placeholder="Contraseña" required>
            </div>

            <div class="form-group">
                <label for="contraseña2" class="control-label">Verificar contraseña</label>
                <input type="password" class="form-control cuadros" id="contraseña2" name="Contraseña2" placeholder="Verificar contraseña" required>
            </div>

            <div class="form-group">
                <label for="course" class="control-label">Curso</label>
                <select class="form-control cuadros" id="course">
                    <option value="AL">Word</option>
                    <option value="AK">Excel</option>
                    <option value="AZ">Power Point</option>
                    <option value="AW">Outlook</option>
                    <option value="AR">Todos</option>
                </select>
            </div>

            <div class="form-group">
                <!-- Siguiente -->
                <button type="submit" class="btn btn-primary boton1">Siguiente</button>
            </div>

        </form>
    </div>
</div>

<app-foot></app-foot>