<app-navbar></app-navbar>
<h1 class="txt">Nosotros</h1>

<!--Jhonathan Aguilera-->
<div class="container p-3 mt-3">
    <div class="row">
        <div class="col-md-3">
            <a target="-brank"><img src="" width="200" alt=""></a>
        </div>
        <div class="col-md-6">
            <a target="-brank" style="text-decoration:none" class="titulo2" href="https://www.linkedin.com/in/jonathan-sebastian-aguilera-caro-86a6aa94/">Jonanthan Aguilera</a>
            <p class="subtitulo">Product Owner</p>
            <p class="subtitulo">Estudiante de análisis y desarrollo de sistemas de información del SENA, con experiencia laboral en telecomunucaciones en implementación y O&M</p>
        </div>
        <div class="col-md-3">
            <a target="-brank"><img src="" class="ln" alt=""></a>
        </div>
    </div>
</div>

<!--Michael Gómez-->
<div class="container p-3">
    <div class="row">
        <div class="col-md-3">
            <a target="-brank"><img src="" class="ln1" alt=""></a>
        </div>
        <div class="col-md-7">
            <a target="-brank" style="text-decoration:none" class="titulo2" href="https://www.linkedin.com/in/jhon-g%C3%B3mez-b8084b13b/">Michael Gómez</a>
            <p class="subtitulo2">Scrum master</p>
            <p class="subtitulo2">Ingeniero industrial con conocimiento en sistemas bancarios, gestión y amortización de créditos financieros y logística de gerencia en la industria petrolera</p>
        </div>
        <div class="col-md-2">
            <a target="-brank"><img src="" width="200" alt=""></a>
        </div>
    </div>
</div>

<!--Pedro Arenas-->
<div class="container p-3">
    <div class="row">
        <div class="col-md-3">
            <a target="-brank"><img src="" width="200" alt=""></a>
        </div>
        <div class="col-md-6">
            <a target="-brank" style="text-decoration:none" class="titulo2" href="https://www.linkedin.com/in/pedro-andres-arenas-2a13498a/">Pedro Arenas</a>
            <p class="subtitulo">Developer</p>
            <p class="subtitulo">Técnico TI en operación de sistemas informáticos con conocimientos relacionados a la implementación, gestión, control y seguimiento de recursos tecnológicos de software y hardware.</p>
        </div>
        <div class="col-md-3">
            <a target="-brank"><img src="" class="ln" alt=""></a>
        </div>
    </div>
</div>

<!--Oscar Hincapié-->
<div class="container p-3">
    <div class="row">
        <div class="col-md-3">
            <a target="-brank"><img src="" class="ln1" alt=""></a>
        </div>
        <div class="col-md-7">
            <a target="-brank" style="text-decoration:none" class="titulo2" href="https://www.linkedin.com/in/oscar-hern%C3%A1n-hincapi%C3%A9-a-b2363b195/">Oscar Hincapié</a>
            <p class="subtitulo2">Developer</p>
            <p class="subtitulo2">Ingeniero electrónico con conocimientos en gestión de mantenimiento preventivo y correctivo automotriz a vehículos diesel y realización de informes técnicos
            </p>
        </div>
        <div class="col-md-2">
            <a target="-brank"><img src="" width="200" alt=""></a>
        </div>
    </div>
</div>


<!--Edwar Triana-->
<div class="container p-3">
    <div class="row">
        <div class="col-md-3">
            <a target="-brank"><img src="" class="ln1" alt=""></a>
        </div>
        <div class="col-md-7">
            <a target="-brank" style="text-decoration:none" class="titulo2" href="https://www.linkedin.com/mwlite/in/edwar-triana-752522200">Edwar Triana</a>
            <p class="subtitulo2">Developer</p>
            <p class="subtitulo2">Tecnólogo en coordinación de escuelas de música, enfocado en la enseñanza de la interpretación de instrumentos musicales como piano, bajo o batería.
            </p>
        </div>
        <div class="col-md-2">
            <a target="-brank"><img src="" width="200" alt=""></a>
        </div>
    </div>
</div>
<!--fin ficha personajes-->

<app-foot></app-foot>