<app-navbar></app-navbar>

<div class="d-flex align-items-center h-100 marco mt-5 mb-5">
    <div class="container shadow-lg p-5 mt-5 w-50 mb-5">
        <div class="login-box-body mb-5">
            <p class="login-box-msg">Ingrese su correo electrónico</p>
            <form method="POST" id="mi_form">
                <div class="form-group has-feedback">
                    <input type="email" class="form-control cuadros" placeholder="Ingrese su correo electrónico" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-12 mt-4">
                        <button type="submit" name="recuperar" id="recuperar" class="btn btn-primary btn-block btn-flat boton1 ml-3" data-toggle="modal" data-target="#message">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-foot></app-foot>